<?php
$helper = Mage::helper('bnlpositivity_paymentservice');
?>
<div class="paymentservice-assistance-container">
  <h1><?php echo Mage::helper('bnlpositivity_paymentservice')->__('Request technical assistance'); ?></h1>
  <p><?php echo Mage::helper('bnlpositivity_paymentservice')->__('Questo form apre un ticket di assistenza'); ?></p>
  <br>
    <div class="bnlpositivity-form-panel">
    <form method="post" id="assistance-form">
        <?php echo $this->getBlockHtml('formkey')?>

        <label for="cc"><?php echo Mage::helper('bnlpositivity_paymentservice')->__('Cc'); ?></label>
        <input id="cc" name="cc" value="" title="<?php echo Mage::helper('bnlpositivity_paymentservice')->__('Cc'); ?>" type="email" class="input-text">

        <label for="message">
            <?php echo Mage::helper('bnlpositivity_paymentservice')->__('Message'); ?> <span class="required">*</span>
        </label>
        <textarea id="message" name="message" required title="<?php echo Mage::helper('bnlpositivity_paymentservice')->__('Message'); ?>" rows="8" class="textarea required-entry"></textarea>

        <button type="submit" class="button">
            <span><?php echo Mage::helper('bnlpositivity_paymentservice')->__('Send'); ?></span>
        </button>
    </form>
  </div>
</div>