table.table-bordered{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #dee2e6;
}
.table-bordered td, .table-bordered th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.table-bordered thead td, .table-bordered thead th{
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
input[disabled="disabled"], textarea[disabled="disabled"]{
    background-color: #eeeeee;
}
.paypal-payment-notice{
    display: none;
}