.bnlpositivity-form-panel{
  border: 1px solid #d6d6d6;
  background: #fafafa;
  padding: 10px 15px;
}
.bnlpositivity-form-panel label{
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.bnlpositivity-form-panel .text-center{
  text-align: center;
}
.bnlpositivity-form-panel input,
.bnlpositivity-form-panel select,
.bnlpositivity-form-panel textarea{
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 10px;
}
.bnlpositivity-form-panel .radio input,
.bnlpositivity-form-panel .radio label{
  float: left !important;
  margin-right: 5px;
  display: inline-block;
  width: auto !important;
}
.bnlpositivity-form-panel .radio label{
  margin-right: 15px;
}
.paymentservice-wizard-container{
  display: table;
  margin: 0 auto;
}
.paymentservice-wizard-container button{
  width: 100%;
}
.paymentservice-wizard-container .paymentservice-wizard-breadcrumb{
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.paymentservice-wizard-container .paymentservice-wizard-breadcrumb li{
  display: inline-block;
  font-weight: bold;
  color: #9f9e9e;
}
.paymentservice-wizard-container .paymentservice-wizard-breadcrumb li.active{
  color: #ea7601;
}



.bnlpositivity-setup-steps {
  padding: 0 0 24px;
  margin: 0;
  list-style: none outside;
  overflow: hidden;
  color: #ccc;
  width: 100%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.bnlpositivity-setup-steps li {
  width: 100%;
  float: left;
  padding: 0 0 .8em;
  margin: 0;
  text-align: center;
  position: relative;
  border-bottom: 4px solid #ccc;
  line-height: 1.4em;
}

.bnlpositivity-setup-steps li::before {
  content: '';
  border: 4px solid #ccc;
  border-radius: 100%;
  width: 4px;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -6px;
  margin-bottom: -8px;
  background: #fff;
}

.bnlpositivity-setup-steps li a {
  color: #ea7601;
  text-decoration: none;
  padding: 1.5em;
  margin: -1.5em;
  position: relative;
  z-index: 1;
}

.bnlpositivity-setup-steps li.active {
  border-color: #ea7601;
  color: #ea7601;
  font-weight: 700;
}

.bnlpositivity-setup-steps li.active::before {
  border-color: #ea7601;
}


.bnlpositivity-setup-steps li.done {
  border-color: #ea7601;
  color: #ea7601;
}
.bnlpositivity-setup-steps li.done::before {
  border-color: #ea7601;
  background: #ea7601;
}


.bnlpositivity-setup-steps li a {
  color: #ea7601;
  text-decoration: none;
  padding: 1.5em;
  margin: -1.5em;
  position: relative;
  z-index: 1;
}

.bnlpositivity-setup-steps li.active {
  border-color: #ea7601;
  color: #ea7601;
  font-weight: 700;
}

.bnlpositivity-setup-steps li.active::before {
  border-color: #ea7601;
}


.bnlpositivity-setup-steps li.done {
  border-color: #ea7601;
  color: #ea7601;
}
.bnlpositivity-setup-steps li.done::before {
  border-color: #ea7601;
  background: #ea7601;
}

table.table-bordered{
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #dee2e6;
}
.table-bordered td, .table-bordered th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.table-bordered td, .table-bordered th {
  border: 1px solid #dee2e6;
}
.table-bordered thead td, .table-bordered thead th{
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

input[disabled="disabled"], textarea[disabled="disabled"]{
  background-color: #eeeeee;
}