.bnlpositivity-hidden{
  display: none;
}
#bnlpositivity_paymentservice_logo{
  float: right;
  border: 0;
  padding: 0;
  max-height: 1.618em;
  margin-left: 25px;
}
#payment_form_bnlpositivity_paymentservice .bnlpositivity-checkout-methods{
  width: 100%;
  max-width: 100%;
  border: none;
  display: block;
  margin-top: 20px;
}
#payment_form_bnlpositivity_paymentservice .bnlpositivity-checkout-methods table{
  width: 50%;
  table-layout: fixed;
  border: 1px solid #fff;
  border-collapse: separate;
}
#payment_form_bnlpositivity_paymentservice .bnlpositivity-checkout-methods tbody td {
  width: 33.33%;
  position: relative;
}
#payment_form_bnlpositivity_paymentservice .bnlpositivity-checkout-methods table thead,
#payment_form_bnlpositivity_paymentservice .bnlpositivity-checkout-methods table tbody,
#payment_form_bnlpositivity_paymentservice .bnlpositivity-checkout-methods table td,
#payment_form_bnlpositivity_paymentservice .bnlpositivity-checkout-methods table tr{
  margin: 0;
  padding: 0;
}
#payment_form_bnlpositivity_paymentservice .bnlpositivity-checkout-methods table thead td{
  padding: 10px;
  font-weight: bold;
}
#payment_form_bnlpositivity_paymentservice .bnlpositivity-checkout-methods table tbody td{
  background-color: #fff !important;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
}
#payment_form_bnlpositivity_paymentservice .bnlpositivity-checkout-methods .btnppay-payment-content{
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
}
#payment_form_bnlpositivity_paymentservice .bnlpositivity-checkout-methods img{
  max-width: 100%;
  float: none  !important;
  margin: auto !important;
  width: 100%;
  height: auto;
  max-height: initial !important;
  position: absolute;
}
#payment_form_bnlpositivity_paymentservice .bnlpositivity-checkout-methods table.bnlpositivity-cc tbody{
  background-color: #fff;
}
.bnlpositivity-hidden{
  display: none;
}
#payment_form_bnlpositivity_paymentservice .bnlpositivity-checkout-methods-selectable table.bnlpositivity-alternative{
  border-spacing: 3px;
}
#payment_form_bnlpositivity_paymentservice .bnlpositivity-checkout-methods-selectable table.bnlpositivity-alternative td{
  border: 1px solid transparent;
}
#payment_form_bnlpositivity_paymentservice .bnlpositivity-checkout-methods-selectable table.bnlpositivity-alternative tbody td[data-name].active,
#payment_form_bnlpositivity_paymentservice .bnlpositivity-checkout-methods-selectable table.bnlpositivity-alternative tbody td[data-name]:hover{
  border-color: #50b38c;
  cursor: pointer;
}
#payment_form_bnlpositivity_paymentservice .bnlpositivity-checkout-methods-selectable table.bnlpositivity-cc tbody td{
  border-color: transparent;
}
#payment_form_bnlpositivity_paymentservice .bnlpositivity-checkout-methods-selectable table.bnlpositivity-cc tbody tr:first-child td{
  border-top: 1px solid;
  border-color: transparent;
}
#payment_form_bnlpositivity_paymentservice .bnlpositivity-checkout-methods-selectable table.bnlpositivity-cc tbody tr:last-child td{
  border-bottom: 1px solid;
  border-color: transparent;
}
#payment_form_bnlpositivity_paymentservice .bnlpositivity-checkout-methods-selectable table.bnlpositivity-cc tbody td:first-child{
  border-left: 1px solid;
  border-color: transparent;
}
#payment_form_bnlpositivity_paymentservice .bnlpositivity-checkout-methods-selectable table.bnlpositivity-cc tbody td:last-child{
  border-right: 1px solid;
  border-color: transparent;
}
#payment_form_bnlpositivity_paymentservice .bnlpositivity-checkout-methods-selectable table.bnlpositivity-cc tbody.active td,
#payment_form_bnlpositivity_paymentservice .bnlpositivity-checkout-methods-selectable table.bnlpositivity-cc tbody:hover td{
  border-color: #50b38c !important;
  cursor: pointer;
}
#payment_form_bnlpositivity_paymentservice .bnlpositivity-checkout-methods tbody td:after {
  content: '';
  display: block;
  margin-top: 100%;
}