<?php

$_code = $this->getMethodCode();
$helper = Mage::helper('bnlpositivity_paymentservice');
$checkouttype = intval($helper->getConfig('checkouttype'));

$creditcards = array();
$alternative = array();
$method_credits_cards = $helper->getPayGateway()->getCcPaymentInstruments();

$payment_instruments = explode(',', $helper->getConfigByCurrentMethod('payment_instruments'));
$payment_instruments = array_filter($payment_instruments);

foreach($payment_instruments as $item)
  if(isset($method_credits_cards[$item]))
    $creditcards[] = $item;

foreach($payment_instruments as $item)
  if(!in_array($item, $creditcards))
    $alternative[] = $item;

$creditCardsChunk = array_chunk($creditcards, 3);
$alternativeChunk = array_chunk($alternative, 3);
$description = Mage::helper('bnlpositivity_paymentservice')->__('Allow your customers to pay comfortably by credit cards');// $helper->getConfig('description');

?>

<ul class="form-list" id="payment_form_<?php echo $_code ?>" style="display:none;">
  <li>
    <div class="payment_box payment_method_bnp_gateway">

      <p><?php echo $description; ?></p>

      <?php if($checkouttype === 2 || $checkouttype === 3): ?>

        <div class="bnlpositivity-checkout-methods <?php echo $checkouttype === 3 ? 'bnlpositivity-checkout-methods-selectable' : '' ?>">

          <?php if(count($creditCardsChunk)): ?>

            <table cellspacing="0" cellpadding="0" class="bnlpositivity-cc">
              <thead>
              <tr>
                <td colspan="3"><?php echo $helper->__('Credit cards') ?>:</td>
              </tr>
              </thead>
              <tbody data-name="cc">
              <?php foreach ($creditCardsChunk as $chunk): ?>
                <tr>
                  <?php foreach ($chunk as $key => $instrument): ?>
                    <td style="background-image: url('<?php echo $this->getSkinUrl(sprintf('bnlpositivity/images/%s.png', $instrument), array('_secure'=>true)); ?>')"></td>
                  <?php endforeach; ?>
                  <?php if($key === 1): ?>
                    <td></td>
                  <?php endif ?>
                  <?php if($key === 0): ?>
                    <td></td>
                    <td></td>
                  <?php endif ?>
                </tr>
              <?php endforeach; ?>
              </tbody>
            </table>

          <?php endif; ?>

          <?php if(count($alternativeChunk)): ?>

            <table cellspacing="0" cellpadding="0" class="bnlpositivity-alternative">
              <thead>
              <tr>
                <td colspan="3"><?php echo $helper->__('Alternative payments') ?>:</td>
              </tr>
              </thead>
              <tbody>
              <?php foreach ($alternativeChunk as $chunk): ?>
                <tr>
                  <?php foreach ($chunk as $key => $instrument): ?>
                    <td data-name="<?php echo $instrument ?>" style="background-image: url('<?php echo $this->getSkinUrl(sprintf('bnlpositivity/images/%s.png', $instrument), array('_secure'=>true)); ?>')"></td>
                  <?php endforeach; ?>
                  <?php if($key === 1): ?>
                    <td></td>
                  <?php endif ?>
                  <?php if($key === 0): ?>
                    <td></td>
                    <td></td>
                  <?php endif ?>
                </tr>
              <?php endforeach; ?>
              </tbody>
            </table>

          <?php endif; ?>

        </div>

        <input type="hidden" name="payment[<?php echo $_code ?>_payment_instrument]">
        <?php if($helper->getMethod() === 'computop'): ?>

          <div data-show="giropay" class="bnlpositivity-hidden">
            <label for="<?php echo $_code ?>_scheme"><?php echo $helper->__('Scheme') ?> <abbr class="required" title="required">*</abbr></label>
            <div class="input-box">
              <select id="<?php echo $_code ?>_scheme" name="payment[<?php echo $_code ?>_scheme]">
                <option value=""><?php echo $helper->__('Select an option', 'bnlpositivity') ?></option>
                <option value="gir">Gir</option>
                <option value="eps">Eps</option>
              </select>
            </div>
          </div>

          <div data-show="giropay, sofort, ideal" class="bnlpositivity-hidden">
            <label for="<?php echo $_code ?>_bic"><?php echo $helper->__('BIC') ?> <abbr class="required" title="required">*</abbr></label>
            <div class="input-box">
              <input type="text" value="" id="<?php echo $_code ?>_bic" name="payment[<?php echo $_code ?>_bic]" class="input-text">
            </div>
          </div>

          <div data-show="giropay, sofort" class="bnlpositivity-hidden">
            <label for="<?php echo $_code ?>_iban"><?php echo $helper->__('IBAN') ?> <abbr class="required" title="required">*</abbr></label>
            <div class="input-box">
              <input type="text" value="" id="<?php echo $_code ?>_iban" name="payment[<?php echo $_code ?>_iban]" class="input-text">
            </div>
          </div>

        <?php endif; ?>

      <?php endif; ?>

  </li>

</ul>

