<?php
  $helper = Mage::helper('bnlpositivity_paymentservice');
?>
<button
        data-test-tid-igfs="<?php echo $helper->getTestTidIgfs() ?>"
        data-test-ksig-igfs="<?php echo $helper->getTestKsigIgfs() ?>"
        data-test-hmacpassword-igfs=""
        data-test-tid-computop="<?php echo $helper->getTestTidComputop() ?>"
        data-test-ksig-computop="<?php echo $helper->getTestKsigComputop() ?>"
        data-test-hmacpassword-computop="<?php echo $helper->getTesthMacPasswordComputop() ?>"
        id="payment_bnlpositivity_paymentservice_assistancedatabutton"
        type="button"
        class="button"
        onclick="window.location = '<?php echo Mage::helper("adminhtml")->getUrl('bnlpositivity_paymentservice_admin/assistance/index') ?>'"
        style="width: 280px; margin-bottom: 5px;">
  <span><?php echo Mage::helper('bnlpositivity_paymentservice')->__('Request technical assistance'); ?></span>
</button>
<button
        data-test-tid-igfs="<?php echo $helper->getTestTidIgfs() ?>"
        data-test-ksig-igfs="<?php echo $helper->getTestKsigIgfs() ?>"
        data-test-hmacpassword-igfs=""
        data-test-tid-computop="<?php echo $helper->getTestTidComputop() ?>"
        data-test-ksig-computop="<?php echo $helper->getTestKsigComputop() ?>"
        data-test-hmacpassword-computop="<?php echo $helper->getTesthMacPasswordComputop() ?>"
        id="payment_bnlpositivity_paymentservice_wizardbutton"
        type="button"
        class="button"
        onclick="window.location = '<?php echo Mage::helper("adminhtml")->getUrl('bnlpositivity_paymentservice_admin/wizard/index') ?>'"
        style="width: 280px;">
  <span><?php echo Mage::helper('bnlpositivity_paymentservice')->__('Setup wizard'); ?></span>
</button>
