<div id="payment_bnlpositivity_paymentservice_languagetable_igfs">
  <p><?php echo Mage::helper('bnlpositivity_paymentservice')->__('Languages allowed') ?>:</p>
  <table id="currencytable" class="table-bordered">
    <thead>
    <tr>
      <th><?php echo Mage::helper('bnlpositivity_paymentservice')->__('Name'); ?></th>
      <th><?php echo Mage::helper('bnlpositivity_paymentservice')->__('Code'); ?></th>
    </tr>
    </thead>
    <tbody>
    <?php foreach (Mage::helper('bnlpositivity_paymentservice')->getLanguagesAllowedIgfs() as $item): ?>
      <tr data-method="igfs">
        <td><?php echo $item['name']; ?></td>
        <td><?php echo $item['code']; ?></td>
      </tr>
    <?php endforeach; ?>
    <?php foreach (Mage::helper('bnlpositivity_paymentservice')->getLanguagesAllowedComputop() as $item): ?>
      <tr data-method="computop">
        <td><?php echo $item['name']; ?></td>
        <td><?php echo $item['code']; ?></td>
      </tr>
    <?php endforeach; ?>
    </tbody>
  </table>
</div>