<?php
$format = Mage::app()->getLocale()->getDateFormat(Mage_Core_Model_Locale::FORMAT_TYPE_SHORT);

$date_from = new Varien_Data_Form_Element_Date;
$date_from->setData(array(
  'name'      => sprintf('%s_from', $this->getName()),
  'html_id'   => sprintf('%s_from', $this->getId()),
  'image'     => $this->getSkinUrl('images/grid-cal.gif'),
  //'format'    => Mage_Core_Model_Locale::FORMAT_TYPE_SHORT,
  //'class'     => 'validate-date validate-date-range date-range-attribute-from',
));
$date_from->setValue($this->getValue(), $format);
$date_from->setFormat(Mage::app()->getLocale()->getDateFormat(Mage_Core_Model_Locale::FORMAT_TYPE_SHORT));
$date_from->setForm($this->getForm());


$date_to = new Varien_Data_Form_Element_Date;
$date_to->setData(array(
  'name'      => sprintf('%s_to', $this->getName()),
  'html_id'   => sprintf('%s_to', $this->getId()),
  'image'     => $this->getSkinUrl('images/grid-cal.gif'),
  //'format'    => Mage_Core_Model_Locale::FORMAT_TYPE_SHORT,
  //'class'     => 'validate-date validate-date-range date-range-attribute-to',
));
$date_to->setValue($this->getValue(), $format);
$date_to->setFormat(Mage::app()->getLocale()->getDateFormat(Mage_Core_Model_Locale::FORMAT_TYPE_SHORT));
$date_to->setForm($this->getForm());
?>
<?php echo $date_from->getHtml(); ?>
<?php echo $date_to->getHtml(); ?>

<button disabled="disabled" data-route="<?php echo $this->getUrl('bnlpositivity_paymentservice_admin/log/') ?>" id="payment_bnlpositivity_paymentservice_logbutton_igfs" type="button" class="button disabled" style="width: 280px;margin-top: 10px;"><span class="state-opened"><?php echo Mage::helper('bnlpositivity_paymentservice')->__('Download'); ?></span></button>
