<div id="payment_bnlpositivity_paymentservice_currencytable_igfs">
  <p><?php echo Mage::helper('bnlpositivity_paymentservice')->__('Currencies allowed') ?>:</p>
  <table id="currencytable" class="table-bordered">
    <thead>
    <tr>
      <th><?php echo Mage::helper('bnlpositivity_paymentservice')->__('Title'); ?></th>
      <th><?php echo Mage::helper('bnlpositivity_paymentservice')->__('Code'); ?></th>
    </tr>
    </thead>
    <tbody>
    <?php foreach (Mage::helper('bnlpositivity_paymentservice')->getCurrenciesAllowedIgfs() as $item): ?>
      <tr data-show="<?php echo $item['code'] === 'EUR' ? 'singlecurrency' : 'multicurrency' ?>" data-method="igfs">
        <td><?php echo $item['title']; ?></td>
        <td><?php echo $item['code']; ?></td>
      </tr>
    <?php endforeach; ?>
    <?php foreach (Mage::helper('bnlpositivity_paymentservice')->getCurrenciesAllowedComputop() as $item): ?>
      <tr data-show="<?php echo $item['code'] === 'EUR' ? 'singlecurrency' : 'multicurrency' ?>" data-method="computop">
        <td><?php echo $item['title']; ?></td>
        <td><?php echo $item['code']; ?></td>
      </tr>
    <?php endforeach; ?>
    </tbody>
  </table>
</div>