<?php
  $helper = Mage::helper('bnlpositivity_paymentservice');
?>
<button
        data-test-tid-igfs="<?php echo $helper->getTestTidIgfs() ?>"
        data-test-tidfindomestic-igfs="<?php echo $helper->getTestTidFindomesticIgfs() ?>"
        data-test-ksig-igfs="<?php echo $helper->getTestKsigIgfs() ?>"
        data-test-hmacpassword-igfs=""
        data-test-tid-computop="<?php echo $helper->getTestTidComputop() ?>"
        data-test-tidfindomestic-computop=""
        data-test-ksig-computop="<?php echo $helper->getTestKsigComputop() ?>"
        data-test-hmacpassword-computop="<?php echo $helper->getTesthMacPasswordComputop() ?>"
        id="payment_bnlpositivity_paymentservice_testdatabutton"
        type="button"
        class="button"
        style="width: 280px;">
  <span><?php echo Mage::helper('bnlpositivity_paymentservice')->__('Set Test data'); ?></span>
</button>
