<?php
$helper = Mage::helper('bnlpositivity_paymentservice');
$step = $this->getStep();
?>
<h1><?php echo Mage::helper('bnlpositivity_paymentservice')->__('BNLPOSitivity Setup Wizard'); ?></h1>
<p><?php echo Mage::helper('bnlpositivity_paymentservice')->__('Questo wizard ti aiuterà a configurare velocemente il sistema di pagamento offerto da BNL POSitivity'); ?></p>
<br>
<ol class="bnlpositivity-setup-steps">
    <li <?php if($step === 1 || $step > 1): ?>class="active"<?php endif; ?>>
        <?php if($step > 1): ?>
            <a href="<?php echo Mage::helper('adminhtml')->getUrl('*/*/*/', array('step' => 1)) ?>" title="<?php echo Mage::helper('bnlpositivity_paymentservice')->__('First step'); ?>">
        <?php endif; ?>
        <?php echo Mage::helper('bnlpositivity_paymentservice')->__('First step'); ?>
        <?php if($step > 1): ?>
            </a>
        <?php endif; ?>
    </li>
    <li <?php if($step === 2 || $step > 2): ?>class="active"<?php endif; ?>>
        <?php if($step > 2): ?>
            <a href="<?php echo Mage::helper('adminhtml')->getUrl('*/*/*/', array('step' => 2)) ?>" title="<?php echo Mage::helper('bnlpositivity_paymentservice')->__('Second step'); ?>">
        <?php endif; ?>
        <?php echo Mage::helper('bnlpositivity_paymentservice')->__('Second step'); ?>
        <?php if($step > 2): ?>
            </a>
        <?php endif; ?>
    </li>
    <li <?php if($step === 3 || $step > 3): ?>class="active"<?php endif; ?>>
        <?php if($step > 3): ?>
            <a href="<?php echo Mage::helper('adminhtml')->getUrl('*/*/*/', array('step' => 3)) ?>" title="<?php echo Mage::helper('bnlpositivity_paymentservice')->__('Third step'); ?>">
        <?php endif; ?>
        <?php echo Mage::helper('bnlpositivity_paymentservice')->__('Third step'); ?>
        <?php if($step > 3): ?>
            </a>
        <?php endif; ?>
    </li>
    <li <?php if($step === 4 || $step > 4): ?>class="active"<?php endif; ?>>
        <?php if($step > 4): ?>
            <a href="<?php echo Mage::helper('adminhtml')->getUrl('*/*/*/', array('step' => 4)) ?>" title="<?php echo Mage::helper('bnlpositivity_paymentservice')->__('Fourth step'); ?>">
        <?php endif; ?>
        <?php echo Mage::helper('bnlpositivity_paymentservice')->__('Fourth step'); ?>
        <?php if($step > 4): ?>
            </a>
        <?php endif; ?>
    </li>
    <li <?php if($step === 5 || $step > 5): ?>class="active"<?php endif; ?>>
        <?php if($step > 5): ?>
            <a href="<?php echo Mage::helper('adminhtml')->getUrl('*/*/*/', array('step' => 5)) ?>" title="<?php echo Mage::helper('bnlpositivity_paymentservice')->__('Fifth step'); ?>">
        <?php endif; ?>
        <?php echo Mage::helper('bnlpositivity_paymentservice')->__('Fifth step'); ?>
        <?php if($step > 5): ?>
            </a>
        <?php endif; ?>
    </li>
    <li <?php if($step === 6 || $step > 6): ?>class="active"<?php endif; ?>>
        <?php if($step > 6): ?>
            <a href="<?php echo Mage::helper('adminhtml')->getUrl('*/*/*/', array('step' => 6)) ?>" title="<?php echo Mage::helper('bnlpositivity_paymentservice')->__('Sixth step'); ?>">
        <?php endif; ?>
        <?php echo Mage::helper('bnlpositivity_paymentservice')->__('Sixth step'); ?>
        <?php if($step > 6): ?>
            </a>
        <?php endif; ?>
    </li>
    <li <?php if($step === 7): ?>class="active"<?php endif; ?>>
        <?php echo Mage::helper('bnlpositivity_paymentservice')->__('Ready!'); ?>
    </li>
</ol>