<?php
$helper = Mage::helper('bnlpositivity_paymentservice');
$step = $this->getStep();

$title = Mage::helper('bnlpositivity_paymentservice')->__('BNLPOSitivity Payment Gateway');// $helper->getConfig('title');
$description = Mage::helper('bnlpositivity_paymentservice')->__('Allow your customers to pay comfortably by credit cards');// $helper->getConfig('description');

?>
<div class="bnlpositivity-form-panel">
    <form method="post" id="wizard-form-<?php echo $step; ?>">
        <?php echo $this->getBlockHtml('formkey')?>

        <label for="title">
            <?php echo Mage::helper('bnlpositivity_paymentservice')->__('Title'); ?>
            <span class="required">*</span>
        </label>
        <input id="title" disabled="disabled" name="title" required value="<?php echo $title ?>" title="<?php echo Mage::helper('bnlpositivity_paymentservice')->__('Title'); ?>" type="text" class="input-text required-entry">

        <label for="description">
            <?php echo Mage::helper('bnlpositivity_paymentservice')->__('Description'); ?>
            <span class="required">*</span>
        </label>
        <textarea id="message" disabled="disabled" name="message" required title="<?php echo Mage::helper('bnlpositivity_paymentservice')->__('Message'); ?>" rows="8" class="textarea required-entry"><?php echo $description; ?></textarea>

        <button type="submit" class="button">
            <span><?php echo Mage::helper('bnlpositivity_paymentservice')->__('Let\'s go!'); ?></span>
        </button>
    </form>
</div>