<?php
$helper = Mage::helper('bnlpositivity_paymentservice');
$step = $this->getStep();

$method = $helper->getConfig('method');
$acquirer = $helper->getConfig('acquirer');

?>
<div class="bnlpositivity-form-panel">
    <form method="post" id="wizard-form-<?php echo $step; ?>">
        <?php echo $this->getBlockHtml('formkey')?>

        <label for="method">
            <?php echo Mage::helper('bnlpositivity_paymentservice')->__('Payment Gateway'); ?>
            <span class="required">*</span>
        </label>

        <select required class="select" name="method" id="method">
            <?php foreach ($helper->getMethods() as $key => $item): ?>
                <option value="<?php echo $key ?>" <?php echo $method === $key ? 'selected' : '' ?>><?php echo $item ?></option>
            <?php endforeach; ?>
        </select>

        <div id="acquirer-container">
            <label for="acquirer">
                <?php echo Mage::helper('bnlpositivity_paymentservice')->__('Acquirer'); ?>
                <span class="required">*</span>
            </label>

            <select required class="select" name="acquirer" id="acquirer">
                <?php foreach ($helper->getAcquirers() as $key => $item): ?>
                    <option value="<?php echo $key ?>" <?php echo $acquirer === $key ? 'selected' : '' ?>><?php echo $item ?></option>
                <?php endforeach; ?>
            </select>
        </div>

        <button type="submit" class="button">
            <span><?php echo Mage::helper('bnlpositivity_paymentservice')->__('Continue'); ?></span>
        </button>
    </form>
</div>