<?php
$helper = Mage::helper('bnlpositivity_paymentservice');
$step = $this->getStep();
?>
<div class="bnlpositivity-form-panel">
    <form method="post" id="wizard-form-<?php echo $step; ?>">

        <?php echo $this->getBlockHtml('formkey')?>

        <h2 class="text-center"><?php echo Mage::helper('bnlpositivity_paymentservice')->__('Configuration procedure completed'); ?></h2>

        <button type="submit" class="button">
            <span><?php echo Mage::helper('bnlpositivity_paymentservice')->__('Go to configuration area'); ?></span>
        </button>
    </form>
</div>