<?php
$helper = Mage::helper('bnlpositivity_paymentservice');
$step = $this->getStep();

$method         = $helper->getMethod();
$multicurrency  = $helper->getConfig('multicurrency');
?>
<div class="bnlpositivity-form-panel">
    <form method="post" id="wizard-form-<?php echo $step; ?>">
        <?php echo $this->getBlockHtml('formkey')?>

        <label>
            <?php echo Mage::helper('bnlpositivity_paymentservice')->__('Multicurrency'); ?>
            <?php if($method === 'igfs'): ?><span class="required">*</span><?php else: ?>: <?php echo Mage::helper('bnlpositivity_paymentservice')->__('No'); ?><?php endif; ?>
        </label>

        <?php if($method === 'igfs'): ?>
            <div class="radio" id="multicurrency">
                <input type="radio" name="multicurrency" class="" value="1" id="multicurrency1" <?php echo $multicurrency ? 'checked="checked"' : '' ?>>
                <label class="inline" for="multicurrency1"><?php echo Mage::helper('bnlpositivity_paymentservice')->__('Yes'); ?></label>&nbsp;
                <input type="radio" name="multicurrency" class="" value="0" id="multicurrency2" <?php echo !$multicurrency || $method !== 'igfs' ? 'checked="checked"' : '' ?>>
                <label class="inline" for="multicurrency2"><?php echo Mage::helper('bnlpositivity_paymentservice')->__('No'); ?></label>&nbsp;
            </div>
        <?php endif; ?>

        <table id="currencytable" class="table-bordered" style="margin-bottom: 15px">
            <thead>
            <tr>
                <th><?php echo Mage::helper('bnlpositivity_paymentservice')->__('Title'); ?></th>
                <th><?php echo Mage::helper('bnlpositivity_paymentservice')->__('Code'); ?></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($helper->getCurrenciesAllowed() as $item): ?>
                <tr data-show="<?php echo $item['code'] === 'EUR' ? 'singlecurrency' : 'multicurrency' ?>">
                    <td><?php echo $item['title']; ?></td>
                    <td><?php echo $item['code']; ?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>

        <button type="submit" class="button">
            <span><?php echo Mage::helper('bnlpositivity_paymentservice')->__('Continue'); ?></span>
        </button>
    </form>
</div>