<?php
$helper = Mage::helper('bnlpositivity_paymentservice');
$step = $this->getStep();
$token_enabled = $helper->getConfig('token_enabled');
$one_click_token_enabled = $helper->getConfig('one_click_token_enabled');
$send_notify = $helper->getConfig('send_notify');

?>
<div class="bnlpositivity-form-panel">
    <form method="post" id="wizard-form-<?php echo $step; ?>">
        <?php echo $this->getBlockHtml('formkey')?>

        <label>
            <?php echo Mage::helper('bnlpositivity_paymentservice')->__('Enable token generation?'); ?>
            <span class="required">*</span>
        </label>

        <div class="radio">
            <input type="radio" name="token_enabled" class="" value="1" id="token_enabled1" <?php echo $token_enabled ? 'checked="checked"' : '' ?>>
            <label class="inline" for="token_enabled1"><?php echo Mage::helper('bnlpositivity_paymentservice')->__('Yes'); ?></label>&nbsp;

            <input type="radio" name="token_enabled" class="" value="0" id="token_enabled2" <?php echo !$token_enabled ? 'checked="checked"' : '' ?>>
            <label class="inline" for="token_enabled2"><?php echo Mage::helper('bnlpositivity_paymentservice')->__('No'); ?></label>&nbsp;
        </div>

        <?php if($helper->getMethod() === 'igfs'): ?>
            <div id="one_click_token_enabled">
                <br>
                <label>
                    <?php echo Mage::helper('bnlpositivity_paymentservice')->__('Enable one-click-buy'); ?>
                    <span class="required">*</span>
                </label>

                <div class="radio">
                    <input type="radio" name="one_click_token_enabled" class="" value="1" id="one_click_token_enabled1" <?php echo $one_click_token_enabled ? 'checked="checked"' : '' ?>>
                    <label class="inline" for="one_click_token_enabled1"><?php echo Mage::helper('bnlpositivity_paymentservice')->__('Yes'); ?></label>&nbsp;

                    <input type="radio" name="one_click_token_enabled" class="" value="0" id="one_click_token_enabled2" <?php echo !$one_click_token_enabled ? 'checked="checked"' : '' ?>>
                    <label class="inline" for="one_click_token_enabled2"><?php echo Mage::helper('bnlpositivity_paymentservice')->__('No'); ?></label>&nbsp;
                </div>
            </div>

            <div id="send_notify">
                <br>
                <label>
                    <?php echo Mage::helper('bnlpositivity_paymentservice')->__('Send order notify?'); ?>
                    <span class="required">*</span>
                </label>

                <div class="radio">
                    <input type="radio" name="send_notify" class="" value="1" id="send_notify1" <?php echo $send_notify ? 'checked="checked"' : '' ?>>
                    <label class="inline" for="send_notify1"><?php echo Mage::helper('bnlpositivity_paymentservice')->__('Yes'); ?></label>&nbsp;

                    <input type="radio" name="send_notify" class="" value="0" id="send_notify2" <?php echo !$send_notify ? 'checked="checked"' : '' ?>>
                    <label class="inline" for="send_notify2"><?php echo Mage::helper('bnlpositivity_paymentservice')->__('No'); ?></label>&nbsp;
                </div>
            </div>

        <?php endif; ?>


        <button type="submit" class="button">
            <span><?php echo Mage::helper('bnlpositivity_paymentservice')->__('Continue'); ?></span>
        </button>
    </form>
</div>