<?php
$helper = Mage::helper('bnlpositivity_paymentservice');
$step = $this->getStep();

$method                         = $helper->getMethod();
$tid                            = $helper->getConfig(sprintf('tid_%s', $method));
$tidfindomestic                 = $helper->getConfig('tidfindomestic');
$ksig                           = $helper->getConfig(sprintf('ksig_%s', $method));
$hMacPassword                   = $helper->getConfig('hMacPassword');
$trtype                         = $helper->getConfig(sprintf('trtype_%s', $method));
$checkouttype                   = $helper->getConfig('checkouttype');
$payment_instruments            = $helper->getConfig(sprintf('payment_instruments_%s', $method));
$payment_instruments            = $payment_instruments !== null ? explode(',', $payment_instruments) : array();

?>
<div class="bnlpositivity-form-panel">
    <form method="post" id="wizard-form-<?php echo $step; ?>">
        <?php echo $this->getBlockHtml('formkey')?>

        <label for="tid">
            <?php echo Mage::helper('bnlpositivity_paymentservice')->__($method === 'igfs' ? 'TID' : 'Merchant ID'); ?>
            <span class="required">*</span>
        </label>
        <input id="tid" name="tid_<?php echo $method ?>" required value="<?php echo $tid; ?>" title="<?php echo Mage::helper('bnlpositivity_paymentservice')->__('TID'); ?>" type="text" class="input-text required-entry">

        <label for="ksig">
            <?php echo Mage::helper('bnlpositivity_paymentservice')->__($method === 'igfs' ? 'KSIG' : 'Blowfish password'); ?>
            <span class="required">*</span>
        </label>
        <input id="ksig" name="ksig_<?php echo $method ?>" required value="<?php echo $ksig; ?>" title="<?php echo Mage::helper('bnlpositivity_paymentservice')->__('KSIG'); ?>" type="text" class="input-text required-entry">

        <?php if($method === 'igfs'): ?>
            <div id="tidfindomestic_container">
                <label for="tidfindomestic">
                    <?php echo Mage::helper('bnlpositivity_paymentservice')->__('TID Findomestic'); ?>
                </label>
                <input id="tidfindomestic" name="tidfindomestic" value="<?php echo $tidfindomestic; ?>" title="<?php echo Mage::helper('bnlpositivity_paymentservice')->__('TID Findomestic'); ?>" type="text" class="input-text">
            </div>
        <?php else: ?>
            <label for="hMacPassword">
                <?php echo Mage::helper('bnlpositivity_paymentservice')->__('Hmac password'); ?>
            </label>
            <input id="hMacPassword" name="hMacPassword" value="<?php echo $hMacPassword; ?>" title="<?php echo Mage::helper('bnlpositivity_paymentservice')->__('Hmac password'); ?>" type="text" class="input-text">
        <?php endif; ?>

        <?php if($helper->getConfig('testmode')): ?>
            <button
                    data-test-tid="<?php echo $helper->getTestTid() ?>"
                    data-test-tid-findomestic="<?php echo $helper->getTestTidFindomestic() ?>"
                    data-test-ksig="<?php echo $helper->getTestKsig() ?>"
                    data-test-hmacpassword="<?php echo $helper->getTesthMacPassword() ?>"
                    id="testdatabutton"
                    type="button"
                    class="button"
                    style="width: 100%; margin-bottom: 10px">
                <span><?php echo Mage::helper('bnlpositivity_paymentservice')->__('Set Test data'); ?></span>
            </button>
        <?php endif; ?>

        <label for="trtype">
            <?php echo Mage::helper('bnlpositivity_paymentservice')->__('Transaction type'); ?>
            <span class="required">*</span>
        </label>

        <select required class="select" name="trtype_<?php echo $method ?>" id="trtype">
            <?php foreach ($helper->getTrtypes() as $key => $item): ?>
                <option value="<?php echo $key ?>" <?php echo $trtype === $key ? 'selected' : '' ?>><?php echo $item ?></option>
            <?php endforeach; ?>
        </select>

        <label for="checkouttype">
            <?php echo Mage::helper('bnlpositivity_paymentservice')->__('Checkout type'); ?>
            <span class="required">*</span>
        </label>

        <select required class="select" name="checkouttype" id="checkouttype">
            <?php foreach ($helper->getCheckoutTypes() as $key => $item): ?>
                <option value="<?php echo $key ?>" <?php echo intval($checkouttype) === $key ? 'selected' : '' ?>><?php echo $item ?></option>
            <?php endforeach; ?>
        </select>

        <div id="payment_instruments_container">
            <label for="payment_instruments_<?php echo $method ?>">
                <?php echo Mage::helper('bnlpositivity_paymentservice')->__('Payment instruments'); ?>
            </label>

            <select class="payment_instruments" multiple name="payment_instruments_<?php echo $method ?>[]" id="payment_instruments_<?php echo $method ?>">
                <?php foreach ($helper->getPaymentInstruments() as $key => $item): ?>
                    <option value="<?php echo $key ?>" <?php echo in_array($key, $payment_instruments) ? 'selected' : '' ?>><?php echo $item ?></option>
                <?php endforeach; ?>
            </select>
        </div>

        <button type="submit" class="button">
            <span><?php echo Mage::helper('bnlpositivity_paymentservice')->__('Continue'); ?></span>
        </button>
    </form>
</div>