<?php
$helper = Mage::helper('bnlpositivity_paymentservice');
$step = $this->getStep();

$testmode = $helper->getConfig('testmode');

?>
<div class="bnlpositivity-form-panel">
    <form method="post" id="wizard-form-<?php echo $step; ?>">
        <?php echo $this->getBlockHtml('formkey')?>


        <label>
            <?php echo Mage::helper('bnlpositivity_paymentservice')->__('Enable test mode'); ?>
            <span class="required">*</span>
        </label>

        <div class="radio">
            <input type="radio" name="testmode" class="" value="1" id="testmode1" <?php echo $testmode ? 'checked="checked"' : '' ?>>
            <label class="inline" for="testmode1"><?php echo Mage::helper('bnlpositivity_paymentservice')->__('Yes'); ?></label>&nbsp;

            <input type="radio" name="testmode" class="" value="0" id="testmode2" <?php echo !$testmode ? 'checked="checked"' : '' ?>>
            <label class="inline" for="testmode2"><?php echo Mage::helper('bnlpositivity_paymentservice')->__('No'); ?></label>&nbsp;
        </div>
        <button type="submit" class="button">
            <span><?php echo Mage::helper('bnlpositivity_paymentservice')->__('Continue'); ?></span>
        </button>
    </form>
</div>